/* write your styles here */

/* marquee */

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/floral.png);
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    margin: 0;
}

section {
    padding: 30px 0px;
}

body>div {
    background-color: #ed484c;
    color: white;
    padding: 4px 0px;
    font-size: 12px;
    font-weight: bold;
}

mark {
    font-weight: bold;
    font-size: 11px;
    padding: 0px 5px;
}

/* header */

header {
    background-color: #4c4c4c;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    align-items: center;
}

#logo {
    width: 50px;
    height: 30px;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color:#c0c0c0;
    margin: 0px 15px;
    font-size: 12px;
    font-weight: bold;
}

/* about section */

#about {
    text-align: center;
    /* background-image: url(images/floral.png); */
    background-color: rgba(239, 50, 69, 0.47);
    padding: 10px 0px;
}

#about h1 {
    font-size: 2.5em;
    border-bottom: 1px solid black;
    margin: auto;
    padding: 33px 0px;
    max-width: 52%;
}

#about p {
    margin: auto;
    max-width: 52%;
    text-align: center;
    padding: 20px 0px;
    font-weight: 600;
    border-bottom: 1px solid black;
}

button {
    margin: 15px 0px;
    background-color: black;
    border: none;
    font-size: 30px;
    color: #f18d97;
    padding: 15px 53px;
}

/* services */

#services {
    background-color: rgba(171, 163, 147, 0.23);
    text-align: center;
    padding: 30px 0px;
}

.our-services {
    display: flex;
}

#services div {
    text-align: center;
}

h4 {
    font-weight: bold;
    margin: 20px 0px;
}

#services .fab {
    font-size: 70px;
}

figcaption {
    text-align: center;
    font-size: 12px;
}

/* portfolio */

#portfolio {
    text-align: center;
    padding: 30px 0px;
    background-color: rgba(148, 107, 36, 0.35);
}

#portfolio>h2 {
    border-bottom: 1px solid black;
    max-width: 50%;
    padding-bottom: 20px;
    margin: auto;
}

#portfolio>p {
    border-bottom: 1px solid black;
    margin: auto;
    text-align: center;
    padding: 10px 0px;
    max-width: 50%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    margin: auto;
    margin-top: 10px;
}

#container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#container>div {
    flex: 1 1 160px;
    margin: 20px 20px;
}

/* contact us */

#contact-us {
    background-color: rgba(95, 140, 138, 0.42);
    text-align: center;
    padding-bottom: 20px;
}

#contact-us .fab {
    font-size: 30px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 13px 13px;
    margin: 20px 5px;
}

#contact-us i:last-child {
    padding: 13px 15px;
}

#contact-us i:hover {
    background-color: #212121;
    color: #fcdea6;
}

/* footer */

footer {
    font-size: 12px;
    background-color: #212121;
    color: white;
    text-align: center;
    margin: 0;
}

footer>div {
    padding: 30px 0px;
    word-spacing: 2px;
}

footer:hover .fas {
    color: red;
    animation: .8s infinite beatHeart;
}

@keyframes beatHeart {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 600px) {
    #about h1 {
        max-width: 84%;
    }
    #about p {
        max-width: 84%;
    }
    .our-services {
        display: block;
    }
    .our-services figcaption {
        max-width: 270px;
        margin: auto;
    }
    #portfolio p {
        max-width: 75%;
    }
    #portfolio h2 {
        max-width: 75%;
    }
    .our-services>div {
        margin: 30px 0px;
    }
}

@media only screen and (max-width: 400px) {
    #about p {
        max-width: 63%;
    }
    #about h1 {
        max-width: 63%;
    }
    #portfolio h2 {
        max-width: 60%;
    }
    #portfolio p {
        max-width: 60%;
    }
}